/.vs/AdressBook/DesignTimeBuild/.dtbcache.v2
/.vs/AdressBook/FileContentIndex/90d91140-8e57-4b47-bde5-bfd3dd3d1db6.vsidx
/.vs/AdressBook/v17/.futdcache.v2
/.vs/AdressBook/v17/.suo
/.vs/AdressBook/v17/.wsuo
/.vs/AdressBook/v17/DocumentLayout.backup.json
/.vs/AdressBook/v17/DocumentLayout.json
/.vs/AdressBook/v17/workspaceFileList.bin
/.vs/ProjectEvaluation/adressbook.metadata.v9.bin
/.vs/ProjectEvaluation/adressbook.projects.v9.bin
/.vs/ProjectEvaluation/adressbook.strings.v9.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
